.hero {
  height: 100vh;
  background: linear-gradient(355.81deg, #0070fa 2.7%, #007deb 88.45%);
  &__inner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
  }

  &__info {
    max-width: 526px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__btn {
    background: #FEB05F;
  }

  &__img {
    transform: translate(-98px, 0);
    &-outer {
      z-index: 1;
      position: relative;

      &.mob {
        display: none;
      }

      & .hero__search,
      & .hero__img-info,
      & .hero__line {
        position: absolute;
      }

      & .abs {
        z-index: 1;
        position: absolute !important;
      }
    }

    &-line {
      &-outer {
        position: absolute;
        top: 220px;
        right: 175px;
        width: 179.42px;
        height: 294.37px;
      }

      position: absolute;
      background: #02e1e1;
      box-shadow: 0px 0px 7px 2px #02e1e1;
      border-radius: 100px;

      left: 50%;

      width: 211.65px;
      height: 3.22px;
      display: flex;
      transform: translate(-50%, -50%);
      animation-name: logoLine;
      animation-timing-function: linear;
      animation-duration: 1.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &-abs {
      &-1 {
        top: 50px !important;
        width: 69.77px;
        height: 49.83px;
        right: 460px !important;
        left: unset !important;
      }

      &-2 {
        top: 208px !important;
        width: 40px;
        height: 40px;
        right: 503px !important;
        left: unset !important;
      }

      &-3 {
        width: 64px;
        height: 69px;
        top: 300px !important;
        right: 363px !important;
        left: unset !important;
      }

      &-4 {
        width: 59px;
        height: 59px;
        top: 444px !important;
        right: 417px !important;
        left: unset !important;
      }

      &-5 {
        width: 190px;
        height: 190px;
        top: 70px !important;
        right: 30px !important;
        left: unset !important;
      }

      &-6 {
        width: 40px;
        height: 40px;
        top: 100px !important;
        right: 0px !important;
        left: unset !important;
      }

      &-7 {
        height: 55px;
        width: 75px;
        top: 216px !important;
        right: -60px !important;
        left: unset !important;
      }

      &-8 {
        width: 60px;
        height: 60px;
        bottom: -30px !important;
        top: unset !important;
        right: 20px !important;
        left: unset !important;
      }
    }

    &-info {
      z-index: 1;
      padding: 20px 14px 20px 19px;
      font-size: 12px;
      line-height: 15px;
      color: var(--dark);
      filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));

      background: #ffffff;
      border-radius: 14px;

      top: 260px;
      right: 20px;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 22px;
    }

    &-name {
      margin-bottom: 22px;
    }

    &-block:not(:last-child) {
      margin-bottom: 22px;
    }

    &-supcontact {
      color: var(--azure);
    }
  }

  &__line {
    z-index: -1;

    &.line-1 {
      width: 518.37px;
      height: 518.37px;
      right: 200px;
      top: 15px;
    }

    &.line-2 {
      right: -60px;

width: 539.21px;
height: 597.81px;
    }
  }

  &__search {
    border-radius: 10px;
    overflow: hidden;
    right: calc(100% - 50px);
    top: 158px;
    width: 196px;
    height: 40px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  .scene {
    position: absolute !important;

    width: 323.38px;
    height: 568.33px;
    left: 0;
    top: 0;
    transform: translate(-98px, 0);
  }
}
