<footer class="footer">
  <div class="container">
    <div
      class="footer__inner"
    >
      <div class="footer__high">
        <ul class="footer__list list-reset">
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#">Главная</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#">О платформе</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#">Отзывы</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#">Тарифы</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#"
              >Публичная оферта</a
            >
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#"
              >Политика конфиденциальности</a
            >
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#"
              >Возврат средств</a
            >
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link link-underline" href="#"
              >Отменить подписку</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__low">
        <a class="footer__logo logo" href="#">
          <img src="img/logo.svg" alt="img" />
        </a>

        <p class="footer__contacts">
          © 2021-2022, СКАН/ТЕЛЕГРАМ, официальный сайт платформы. Все права
          защищены. ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СКАНИРУЙ"
        </p>
      </div>
    </div>
  </div>
</footer>
