<section class="hero" id="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__info" data-aos="fade-right">
        <h1 class="hero__title title-main title">Найди человека в Телеграме</h1>
        <p class="hero__subtitle">
          Сервис, благодаря которому ты сможешь раскрыть информацию о человеке в
          Телеграм. Вместе с нашим сервисом поиск информации становится
          максимально простым.
        </p>
        <button class="hero__btn btn btn-color btn-reset">
          <img
            class="img"
            loading="lazy"
            src="img/hero-btn-sprite.svg"
            width="24"
            height="24"
            alt="img"
          />
          Искать человека
        </button>
      </div>
      <div class="hero__img-outer desk" data-aos="fade-left">
        <img
          class="hero__img"
          loading="lazy"
          src="img/hero-img.png"
          width="323"
          height="528"
          alt="img"
        />
        <div class="hero__img-line-outer">
          <div class="hero__img-line"></div>
        </div>
        <img
          class="hero__search"
          loading="lazy"
          src="img/hero-search.svg"
          width="106"
          height="38"
          alt="img"
        />

        <img
          class="hero__line line-1"
          loading="lazy"
          src="img/hero-line-1.svg"
          width="452"
          height="281"
          alt="img"
        />

        <img
          class="hero__line line-2"
          loading="lazy"
          src="img/hero-line-2.svg"
          width="520"
          height="280"
          alt="img"
        />

        <div class="hero__img-info">
          <h3 class="hero__img-title">ОТЧЕТ:</h3>
          <p class="hero__img-name">Ирина Васильева, 25 лет</p>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Адресс:</p>
            <p class="hero__img-contact">г. Москва, ул. Московская, 21</p>
          </div>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Номер телефона:</p>
            <p class="hero__img-contact">+7777777777</p>
          </div>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Статус:</p>
            <p class="hero__img-contact">Работает в сфере эскорта</p>
          </div>
        </div>

        <div class="scene" id="scene-1">
          <img
            class="hero__img-abs-1 abs"
            data-depth="0.2"
            loading="lazy"
            src="img/hero-1.png"
            width="65"
            height="65"
            alt="img"
          />

          <img
            class="hero__img-abs-2 abs"
            data-depth="-0.2"
            loading="lazy"
            src="img/hero-2.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-3 abs"
            data-depth="0.2"
            loading="lazy"
            src="img/hero-3.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-4 abs"
            data-depth="-0.2"
            loading="lazy"
            src="img/hero-4.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-5 abs"
            data-depth="-0.2"
            loading="lazy"
            src="img/hero-5.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-6 abs"
            data-depth="0.2"
            loading="lazy"
            src="img/hero-6.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-7 abs"
            data-depth="-0.2"
            loading="lazy"
            src="img/hero-7.png"
            width="65"
            height="65"
            alt="img"
          />
          <img
            class="hero__img-abs-8 abs"
            data-depth="0.2"
            loading="lazy"
            src="img/hero-8.png"
            width="65"
            height="65"
            alt="img"
          />
        </div>
      </div>

      <div class="hero__img-outer mob" data-aos="fade-left">
        <img
          class="hero__img"
          loading="lazy"
          src="img/hero-img-mob.png"
          width="323"
          height="528"
          alt="img"
        />
        <div class="hero__img-line-outer">
          <div class="hero__img-line"></div>
        </div>


        <div class="hero__img-info">
          <h3 class="hero__img-title">ОТЧЕТ:</h3>
          <p class="hero__img-name">Ирина Васильева, 25 лет</p>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Адресс:</p>
            <p class="hero__img-contact">г. Москва, ул. Московская, 21</p>
          </div>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Номер телефона:</p>
            <p class="hero__img-contact">+7777777777</p>
          </div>
          <div class="hero__img-block">
            <p class="hero__img-supcontact">Статус:</p>
            <p class="hero__img-contact">Работает в сфере эскорта</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
