<section class="platform" id="platform">
  <div class="container">
    <div class="platform__inner">
      <img
        class="platform__line line-1"
        loading="lazy"
        src="img/line-1.svg"
        width="583"
        height="280"
        alt="img"
      />
      <img
        class="platform__line line-2"
        loading="lazy"
        src="img/line-2.svg"
        width="583"
        height="280"
        alt="img"
      />
      <div class="scene" id="scene-2">
        <img
          class="platform__plane plane-1"
          data-depth="0.2"
          loading="lazy"
          src="img/plane-1.png"
          width="112"
          height="80"
          alt="img"
        />
        <img
          class="platform__plane plane-2"
          data-depth="-0.2"
          loading="lazy"
          src="img/plane-2.png"
          width="112"
          height="80"
          alt="img"
        />
      </div>
      <h3 class="platform__title title title-section" data-aos="fade-up">Наша платформа</h3>
      <p class="platform__subtitle" data-aos="fade-up">
        Инструменты и сервисы разработанные для вас
      </p>
      <div class="platform__card-outer" data-aos="fade-up">
        <div class="platform__card">
          <img
            class="platform__card-img"
            loading="lazy"
            src="img/platform-card-1.svg"
            width="65"
            height="65"
            alt="img"
          />
          <h5 class="platform__card-title">ВСЕ ФУНКЦИИ:</h5>
          <ul class="platform__card-list list-reset">
            <li class="platform__card-item">Определение интересов</li>
            <li class="platform__card-item">Постоянный мониторинг</li>
            <li class="platform__card-item">Информирование на email</li>
            <li class="platform__card-item">Скрытые связи</li>
            <div class="platform__card-text">И т.д.</div>
          </ul>
        </div>
        <div class="platform__card">
          <img
            class="platform__card-img"
            loading="lazy"
            src="img/platform-card-2.svg"
            width="65"
            height="65"
            alt="img"
          />
          <h5 class="platform__card-title">ОПРЕДЕЛЕНИЕ ИНТЕРЕСОВ</h5>
          <p class="platform__card-text">Вы узнаете о неочевидных интересах профиля</p>
        </div>
        <div class="platform__card">
          <img
            class="platform__card-img"
            loading="lazy"
            src="img/platform-card-3.svg"
            width="65"
            height="65"
            alt="img"
          />
          <h5 class="platform__card-title">ПОСТОЯННЫЙ МОНИТОРИНГ</h5>
          <p class="platform__card-text">Мониторинг профилей на базе нейросетей точно определит и информирует когда вам стоит беспокоиться</p>
        </div>
        <div class="platform__card">
          <img
            class="platform__card-img"
            loading="lazy"
            src="img/platform-card-4.svg"
            width="65"
            height="65"
            alt="img"
          />
          <h5 class="platform__card-title">ИНФОРМИРОВАНИЕ НА EMAIL</h5>
          <p class="platform__card-text">Отчёты о изменениях в профиле позволяет быть в курсе подозрительных активностей всегда автоматически</p>
        </div>
      </div>

      <button class="platform__btn btn-color btn-reset btn" data-aos="fade-up">
        Начать анализ
      </button>
    </div>
  </div>
</section>
