<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__info"  data-aos="fade-right">
        <h3 class="reviews__title title title-section">Отзывы</h3>
        <p class="reviews__subtitle">Больше 3000 отзывов наших пользователей</p>
      </div>
      <div class="reviews__slider-nav slider-nav" data-aos="fade-left">
        <button
          class="reviews__slider-prev btn-reset slider-btn slider-btn-prev"
        >
          <img
            class="img"
            loading="lazy"
            src="img/slider-arrow.svg"
            width="24"
            height="24"
            alt="img"
          />
        </button>

        <button
          class="reviews__slider-next btn-reset slider-btn slider-btn-next"
        >
          <img
            class="img"
            loading="lazy"
            src="img/slider-arrow.svg"
            width="24"
            height="24"
            alt="img"
          />
        </button>
      </div>

      <div class="reviews__slider swiper" data-aos="fade-up">
        <div class="reviews__slider-wrapper swiper-wrapper">
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-1.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-2.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-3.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИН АНТОНОВ</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-1.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-2.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-3.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИН АНТОНОВ</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-1.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-2.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИНА АНТОНОВА</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
          <div class="reviews__slider-slide swiper-slide">
            <div class="reviews__slider-content">
              <img
                class="reviews__slider-img"
                loading="lazy"
                src="img/reviews-slider-3.png"
                width="65"
                height="65"
                alt="img"
              />
              <h3 class="reviews__slider-title">ЕКАТЕРИН АНТОНОВ</h3>

              <p class="reviews__slider-text">
                Мне рассказала об этом сервисе подруга и я сразу пошла смотре.
                Все так круто, что просто не могу. Советую всем! Спасибо вам за
                этот прекрасный сервис
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
