<section class="tarrifs" id="tarrifs">
  <div class="container">
    <div class="tarrifs__inner">
      <h3 class="tarrifs__title title title-section" data-aos="fade-up">
        Тарифы <span>Scan Telegram</span>
      </h3>
      <p class="tarrifs__subtitle" data-aos="fade-up">
        Однозначно, непосредственные участники технического прогресса.
      </p>
    </div>
  </div>

  <div class="tarrifs__slider swiper" data-aos="fade-up">
    <div class="tarrifs__slider-wrapper swiper-wrapper">
      <div class="tarrifs__slider-slide swiper-slide small">
        <div class="tarrifs__slider-content small">
          <div class="tarrifs__slider-back">STA﻿RT</div>
          <div class="tarrifs__slider-title">СТАРТ</div>
          <div class="tarrifs__slider-price">111 ₽/час</div>
          <div class="tarrifs__slider-subprice">
            вместо <span class="line-th">333 ₽/час</span>
          </div>
          <span class="tarrifs__slider-line"></span>
          <div class="tarrifs__slider-suplist">НЕКОТОРЫЕ ФУНКЦИИ:</div>
          <ul class="tarrifs__slider-list">
            <li class="tarrifs__slider-list-item">Определение интересов</li>
            <li class="tarrifs__slider-list-item">Фото</li>
            <li class="tarrifs__slider-list-item">
              Получение информации на email
            </li>
          </ul>
          <button class="tarrifs__slider-btn btn btn-reset btn-color">
            Купить сейчас
          </button>
        </div>
      </div>
      <div class="tarrifs__slider-slide swiper-slide big">
        <div class="tarrifs__slider-content big">
          <div class="tarrifs__slider-back">BASE</div>
          <div class="tarrifs__slider-title">БАЗОВЫЙ</div>
          <div class="tarrifs__slider-price">222 ₽/час</div>
          <div class="tarrifs__slider-subprice">
            вместо <span class="line-th">555 ₽/час</span>
          </div>
          <span class="tarrifs__slider-line"></span>
          <div class="tarrifs__slider-suplist">НЕКОТОРЫЕ ФУНКЦИИ:</div>
          <ul class="tarrifs__slider-list">
            <li class="tarrifs__slider-list-item">Определение интересов</li>
            <li class="tarrifs__slider-list-item">Фото</li>
            <li class="tarrifs__slider-list-item">
              Получение информации на email
            </li>
            <li class="tarrifs__slider-list-item">Кем интересуется</li>
            <li class="tarrifs__slider-list-item">Что делает</li>
          </ul>
          <button class="tarrifs__slider-btn btn btn-reset btn-color">
            Купить сейчас
          </button>
        </div>
      </div>
      <div class="tarrifs__slider-slide swiper-slide small">
        <div class="tarrifs__slider-content small">
          <div class="tarrifs__slider-back">PRO</div>
          <div class="tarrifs__slider-title">ПРО</div>
          <div class="tarrifs__slider-price">9999 ₽/час</div>
          <div class="tarrifs__slider-subprice">
            вместо
            <span class="line-th">20000 ₽/час</span>
          </div>
          <span class="tarrifs__slider-line"></span>
          <div class="tarrifs__slider-suplist">НЕКОТОРЫЕ ФУНКЦИИ:</div>
          <ul class="tarrifs__slider-list">
            <li class="tarrifs__slider-list-item">Определение интересов</li>
            <li class="tarrifs__slider-list-item">Постоянный мониторинг</li>
            <li class="tarrifs__slider-list-item">Информирование на email</li>
            <li class="tarrifs__slider-list-item">Скрытые связи</li>
            <li class="tarrifs__slider-list-item">И т.д.</li>
          </ul>
          <button class="tarrifs__slider-btn btn btn-reset btn-color">
            Купить сейчас
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="tarrifs__slider-nav">
    <button class="tarrifs__slider-prev btn-reset slider-btn slider-btn-prev">
      <img
        class="img"
        loading="lazy"
        src="img/slider-arrow.svg"
        width="24"
        height="24"
        alt="img"
      />
    </button>
    <button class="tarrifs__slider-next btn-reset slider-btn slider-btn-next">
      <img
        class="img"
        loading="lazy"
        src="img/slider-arrow.svg"
        width="24"
        height="24"
        alt="img"
      />
    </button>
  </div>
</section>
